
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import DetailLaporanKinerjaContent from '@/components/detail-laporan-kinerja/DetailLaporanKinerjaContent.tsx'
---

<BaseLayout title="Detail Laporan Kinerja - VeloCity Express Admin">
  <CommonHeader client:load isAuthenticated={true} />
  <AppSidebarLayout client:load headerHeight="64px">
    <main class="flex-1 flex flex-col">
      <DetailLaporanKinerjaContent client:idle />
      <CommonFooter variant="simple" />
    </main>
  </AppSidebarLayout>
</BaseLayout>
