
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import ShipmentDetailContent from '@/components/detail-pengiriman-terdaftar/ShipmentDetailContent.tsx'
---

<BaseLayout title="Detail Pengiriman - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  
  <main className="flex-1 bg-gradient-dark">
    <ShipmentDetailContent client:load />
  </main>
  
  <CommonFooter client:idle variant="simple" />
</BaseLayout>
