
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import EditProfileContent from '@/components/edit-profil/EditProfileContent.tsx'
---

<BaseLayout title="Edit Profil - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  
  <main className="flex-1 min-h-[calc(100vh-64px)]">
    <EditProfileContent client:load />
  </main>
  
  <CommonFooter client:idle variant="simple" />
</BaseLayout>
