
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import ExportDataReportPage from '@/components/ekspor-data-laporan/ExportDataReportPage.tsx'
---

<BaseLayout title="Ekspor Data Laporan - VeloCity Express Admin">
  <CommonHeader client:load isAuthenticated={true} />
  <AppSidebarLayout client:load headerHeight="64px">
    <main class="flex-1 flex flex-col">
      <ExportDataReportPage client:load />
      <CommonFooter variant="simple" />
    </main>
  </AppSidebarLayout>
</BaseLayout>
