
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import BankTransferInstructions from '@/components/instruksi-pembayaran-transfer-bank/BankTransferInstructions.tsx'
---

<BaseLayout title="Instruksi Pembayaran Transfer Bank - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  
  <main className="flex-1 min-h-[calc(100vh-64px)] bg-gradient-dark">
    <BankTransferInstructions client:load />
  </main>
  
  <CommonFooter client:idle variant="simple" />
</BaseLayout>
