
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import AnalyticsContent from '@/components/laporan-analitik-admin/AnalyticsContent.tsx'
---

<BaseLayout title="Laporan & Analitik Admin - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  <AppSidebarLayout client:load headerHeight="64px">
    <main class="flex-1 flex flex-col">
      <AnalyticsContent client:idle />
      <CommonFooter client:idle variant="simple" />
    </main>
  </AppSidebarLayout>
</BaseLayout>
