
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import PaymentOrderPage from '@/components/pembayaran-pesanan/PaymentOrderPage.tsx'
---

<BaseLayout title="Pembayaran Pesanan - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  <main className="flex-1 min-h-[calc(100vh-64px)] bg-gradient-dark">
    <PaymentOrderPage client:load />
  </main>
  <CommonFooter client:idle variant="simple" />
</BaseLayout>
