
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import AppSidebarLayout from '@/components/common/AppSidebarLayout.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import TariffManagementPage from '@/components/pengaturan-tarif-layanan/TariffManagementPage.tsx'
---

<BaseLayout title="Pengaturan Tarif Layanan - VeloCity Express">
  <CommonHeader client:load />
  <AppSidebarLayout client:load headerHeight="64px">
    <main class="flex-1 flex flex-col">
      <TariffManagementPage client:idle />
      <CommonFooter variant="simple" />
    </main>
  </AppSidebarLayout>
</BaseLayout>
