
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import ServiceComparison from '@/components/pilih-layanan-kurir/ServiceComparison.tsx'
---

<BaseLayout title="Pilih Layanan Kurir - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  <main className="flex-1 bg-gradient-dark min-h-[calc(100vh-64px)]">
    <ServiceComparison client:load />
  </main>
</BaseLayout>
