
---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CommonHeader from '@/components/common/CommonHeader.tsx'
import CommonFooter from '@/components/common/CommonFooter.tsx'
import EditShipmentPage from '@/components/ubah-detail-pengiriman/EditShipmentPage.tsx'
---

<BaseLayout title="Ubah Detail Pengiriman - VeloCity Express">
  <CommonHeader client:load isAuthenticated={true} />
  
  <main className="flex-1 min-h-[calc(100vh-128px)]">
    <EditShipmentPage client:load />
  </main>
  
  <CommonFooter client:idle variant="simple" />
</BaseLayout>
